@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Courgette&family=Forum&display=swap');
$fonts-headline: 'Courgette', cursive;
$fonts-body: 'Barlow', sans-serif; 
$font-title: 'Forum';
$background-color: #e7daed;
$primary: #FFFFFF;
$accent1: #3E777A;
$accent2: #6A66A3;
$accent3: #f2becb;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #3E777A;
$text-light: #150606;