@import url(‘https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;500;700&family=Courgette&family=Forum&display=swap’);
$fonts-headline: "courgette";
$fonts-body: "barlow";
$background-color: #e7daed;
$primary: #FFFFFF;
$accent1: #3E777A;
$accent2: #6A66A3;
$accent3: #FF7094;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #3E777A;
$text-light: #fff;