$fonts-headline: "arial narrow", Arial, Verdana, sans-serif;
$fonts-body: verdana, arial, sans-serif;
$background-color: #e7daed;
$primary: #FFFFFF;
$accent1: #3E777A;
$accent2: #6A66A3;
$accent3: #FF7094;
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #3E777A;
$text-light: #fff;